body{box-sizing: border-box;font-family: 'Source Sans Pro', sans-serif !important;}
h1{font-size: 44px;}
h2{font-size: 38px;line-height: 42px;margin-bottom: 1rem;}
h3{font-size: 32px;line-height: 34px;margin-bottom: 1rem;}
ul li {list-style: none;}
p{color: #727272;line-height: 25px;}
input,button{font-family: 'Source Sans Pro', sans-serif !important;}
button.btn, .btn{box-shadow: none;border-radius: 0;cursor: pointer;}
section{padding: 60px 0;}
.btn-primary{color: #fff!important;background-color: #2c7bc6;border-color: #2c7bc6;text-transform: capitalize;min-height: 50px;line-height: 32px;}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active{background-color: #0864bb;border-color: #0864bb;color: #ffffff;}
/******** header **********/
.navbar-lists .nav-item {float: left;padding: 1rem 0 1rem 2rem;}
.navbar-lists .nav-item .nav-link{color: #2c7bc6;font-size: 17px;text-decoration: none;font-weight: 500;padding: 0.3rem 0;}
.navbar ul li.active .nav-link{border-bottom: 2px solid #2c7bc6;}
.navbar-lists{float: right;display: inline-block;padding: 0;margin-bottom: 10px;}
.navbar-collapse{-ms-flex-preferred-size: auto;flex-basis: auto;}
header{padding-bottom: 0;background: url("../img/header-bg.png")bottom no-repeat #ffffff;background-size: 100%;}
header nav.fixed-top{padding-top: 0;}
header.no-bg{background: none;padding-bottom: 0;}
.tabs_main{margin: 3rem 0 -1rem 0;width: 100%;}
.tabs_main ul{display: inline-block;padding: 0;margin-bottom: 0;}
.nav-tabs{border: none;}
.dropdown-menu{transition: all  0.5s ease;border-width:0;padding: 0;margin: 0;}
.dropdown-menu .dropdown-item {padding: 0.4rem 2.75rem 0.4rem 1rem;}
.dropdown-item a{color:#9f9f9f;font-size: 17px;text-decoration: none;display: block;}
.dropdown-item a:hover{color:#2c7bc6;}
.navbar-brand{padding: 0;outline: none;}
.tabs_main ul li a.active:after{border-bottom: 2px solid #2c7bc6;content: '';position: absolute;bottom: 0;width: 75%;left: 15px;}
.tabs_main ul li:nth-last-child(1) a.active:after{border-bottom: 2px solid #2c7bc6;content: '';position: absolute;bottom: 0;width: 85%;left: 15px;}
.tabs_main ul li a{font-size: 18px;color: #727272;white-space: nowrap;border: none;padding: 0.5rem 1rem;display: inline-block;position: relative;text-decoration: none;}
.tabs_main ul li{padding:1rem  1rem 1rem 0;text-align: left;float: left;}
.tabs_main ul li a.active{color: #2c7bc6;padding: 0.5rem 1rem;border-top-right-radius: 20px;border-top-left-radius: 20px;background-color: #ffffff;}
label.navbar-toggle{-webkit-appearance: none;box-shadow: none;float: right;margin: 0.6rem 0.6rem 0;}
label.navbar-toggle i {font-size: 2.2rem;}
header.fixed-top.no-bg nav{padding: 0;}
.dropdown-menu{z-index: 99;}
.navbar-lists .dropdown-item.active, .navbar-lists .dropdown-item:active{background-color:#2c7bc6;color: #ffffff;}
.dropdown-item:active a, .dropdown-item.active a{color: #ffffff;}
/******Navigation Icons *****/
ul.dropdown-menu li.dropdown-item:hover a {color:#2c7bc6; cursor: pointer;}
.navigation-icons{background: url(../img/navigation-icons.png) center no-repeat; height: 21px; width: 24px; float: left; margin: 3px 7px 0 0;}
.attendance{ background-position:0 -42px;} ul.dropdown-menu li.dropdown-item:hover .attendance{ background-position:-24px -42px;}
.leaves{ background-position:0 -63px;} ul.dropdown-menu li.dropdown-item:hover .leaves{ background-position:-24px -63px;}
.expenses{ background-position:0 -84px;} ul.dropdown-menu li.dropdown-item:hover .expenses{ background-position:-24px -84px;}
.help{ background-position:0 -21px;} ul.dropdown-menu li.dropdown-item:hover .help{ background-position:-24px -21px;}
.social{ background-position:0 -189px;} ul.dropdown-menu li.dropdown-item:hover .social{ background-position:-24px -189px;}
.profile{ background-position:0 -105px;} ul.dropdown-menu li.dropdown-item:hover .profile{ background-position:-24px -105px;}
.policies{ background-position:0 -315px;} ul.dropdown-menu li.dropdown-item:hover .policies{ background-position:-24px -315px;}
.reports{ background-position:0 -252px;} ul.dropdown-menu li.dropdown-item:hover  .reports{ background-position:-24px -252px;}
/***** footer ********/
section.getStarted{background: url("../img/waves-footer.png") top left repeat-x #ffffff;padding: 20px 0 0;}
.column{max-width: 800px;width: 100%;margin: auto;}
footer{padding: 20px 0;background: url("../img/footer_bg.png")no-repeat bottom center #edf8ff;color: #5a798d;}
.quick_links h4,.social_icons h4{font-size: 1rem;text-transform: uppercase;font-weight: 600;margin-bottom: 20px;}
.newsletter h5{font-size: 1rem;color: #5a798d;text-transform: capitalize;font-weight: 600;margin-bottom: 20px;}
.quick_links ul,.social_icons ul{display: inline-block;padding: 0;}
.quick_links ul li{float: left;padding: 0.4rem 1rem 0.4rem 0;width: 50%;}
.quick_links.full ul li{width: 100%;}
.quick_links ul li a {text-decoration: none;color: #5a798d;font-weight: 300;font-size: 1rem;}
.newsletter input::placeholder{text-transform: uppercase;font-weight: 200;color: #5a798d;font-size: 1rem;}
.newsletter input{padding: 0.5rem;min-height: 50px;color: #5a798d;font-size: 1rem;border-radius: 0;}
.newsletter .form-group {display: -webkit-flex;display: -ms-flex;display: flex;}
.newsletter .form-group button{text-transform: uppercase;}
.social_icons ul li{float: left;padding-right: 0.6rem}
.footer_bottom{border-top:1px solid rgba(90, 121, 141, 0.3);padding: 1rem 0 0;}
.getStarted .footer_bottom p{font-size: 1rem;padding: 0;}
div.getStarted{padding: 2rem 0;}
.getStarted h1 {color:#222222;text-transform: capitalize;text-align: center;padding-bottom: 30px;position: relative;font-weight: 600;}
.getStarted h1.bottom:after, h1.title:after, h2.title:after{content: '';position: absolute;bottom: 0;width: 65px;height: 10px;background: url("../img/header-bottom.png")no-repeat;left: 50%;margin-left: -33px;}
.getStarted p {font-size: 20px;font-weight: 300;color: #444;padding: 1rem 0;}
.getStarted .column a{min-width: 175px;padding: 0.5rem 1.5rem;min-height: 50px;}
.logo{margin-bottom: 30px;}
.quick_links ul li a:hover,.quick_links ul li a:focus{font-weight: 500;}
/********** attendance *******/
h1.title{font-weight: 600;color: #2c7bc6;padding-bottom: 1.5rem;position: relative;display: inline-block;margin-bottom: 1rem;letter-spacing: 1px;}
h1.title:after{left:0;margin-left: 0;}
.attendance p {color: #727272;font-weight: 300;line-height: 25px;padding: 1rem 0;}
.attendance div.item{display: -webkit-flex;display: -ms-flex;display: flex;padding: 1rem 0 0;margin-bottom: 1rem;}
.attendance div.item p{margin-bottom: 0;padding: 0.5rem 1rem;}
.attendance h2{font-size: 22px;font-weight: 500;}
.app-view{height: 100%;display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-flex-wrap: wrap;-ms-flex-wrap: wrap;flex-wrap: wrap;background-size: contain;margin-left: 1%;}
.app-view.attendance-app{background: url("../img/attendance-app-bg.png")center no-repeat;background-size: contain;}
.app-view.no-bg{background: none;}
.ess-main{background: url("../img/emplyoee-service-main-bg.png") bottom center no-repeat;background-size: contain;padding-bottom: 3rem;}
.column.timeManage h3{font-weight: 300;}
.column.timeManage{color: #222222;text-align: center;margin-bottom: 2rem;}
section.time-location{background: url("../img/time-location-bg.png") no-repeat left center;background-size: contain;margin: 3rem 0;}

/******* team *********/
.team-details{color: #222222;}
.middle-texts{height: 100%;display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-flex-wrap: wrap;-ms-flex-wrap: wrap;flex-wrap: wrap;}
.team-details h2 {text-transform: uppercase;font-size: 36px;font-weight: 600;}
.team-details label{text-transform: uppercase;font-size: 18px;font-weight: 600;}
.team-details p{font-size: 17px;color: #686868;font-weight: 300;line-height: 30px;}

/******** home **********/
.home-sec{color: #333333;}
.home-sec.middle-texts{min-height: 650px;}
.home-sec h5{font-size: 18px;letter-spacing: 2px;font-weight: 600;margin-bottom: 1.5rem;}
.home-sec h1{font-size: 46px;letter-spacing: 2px;margin-bottom: 1.5rem;font-weight: 600;}
.home-sec p{font-size: 20px;color: #686868;font-weight: 300;line-height: 34px;margin-bottom: 2rem;}
h1.title.center{color: #333333;}
h1.title.center:after{left: 50%;margin-left: -34px;}
.col_md_1{max-width: 12.5%;flex: 0 0 12.5%;position: relative;}
.home_tabs{margin-bottom: 4rem;}
.homeSection h2 {font-size: 1.9rem;color: #333333;}
.homeSection p {font-size: 17px; color: #686868;font-weight: 300;}
.homeSection .middle-texts a {line-height: 1.5rem;border-bottom:2px solid #1676d1; color: #1676d1;font-weight: 500;text-decoration: none;}
.hover-box{margin: 3rem 0 2rem;padding: 0 10px;}
.hover-box {display: grid;margin: auto;text-align: center;text-decoration: none;color: #1676d1;padding: 1rem;min-width: 100px;}
.hover-box img{margin: auto;}
.hover-box label{padding-top: 1rem;cursor: pointer;margin-bottom: 0;color: #1676d1;}
.hover-box:hover, #pnProductNav .nav-link.active > .hover-box{border-radius: 20px;-webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.15);-moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.15);box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.15);}
.whyTeam {color: #727272;padding: 2rem 0;}
.whyTeam p{line-height: 25px;margin-bottom: 1rem;}
.whyTeam-sec{background: url("../img/whyTeam-left-bg.png")center left no-repeat, url("../img/whyTeam-right-bg.png") top right no-repeat;}
.middle-texts.whyTeam{padding: 0 1rem;}
.middle-texts.whyTeam h3{font-size: 22px;color: #333333;line-height: 28px;}
.middle-texts.whyTeam p{color: #727272;line-height: 24px;}
#pnProductNavContents.nav{flex-wrap: inherit;}
.homeSection{padding-top: 1rem;}
.hover-box label{font-size: 15px;}
.helpdesk-main{background: url("../img/helpdesk-main-bg.png")center no-repeat;background-size: contain;}
.engagment-main{background: url("../img/engagment-main-bg.png")center no-repeat;background-size: contain;}
.app-view.helpdesk-app {background: url("../img/helpdesk-app-bg.png")bottom right no-repeat;background-size: auto;}
.leavesPlatform{background: url("../img/leave-right-bg.png") top right no-repeat;}
.tab-pane .leaves-bg{background: url("../img/leaves-screen-bg.png") center no-repeat;background-size: contain;min-height: 650px;}
.tab-pane .attendance-bg{background: url("../img/attendance-screen-bg.png") center no-repeat;background-size: contain;min-height: 650px;}
.tab-pane .expense-bg{background: url("../img/expense-screen-bg.png") center no-repeat;background-size: contain;min-height: 650px;}
.tab-pane .helpdesk-bg{background: url("../img/expense-screen-bg.png") center no-repeat;background-size: contain;min-height: 650px;}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active, #pnProductNavContents .nav-link:hover, .nav-tabs .nav-link:focus{border-color: transparent;}
.feature-bg{background: url("../img/features-main-bg.png")center no-repeat;background-size: contain;padding: 2rem 0;}
.middle-texts.home-sec{padding:3rem 0;}
/*animation:slide-down .7s}*/
@keyframes slide-down{0%{opacity:0;transform:translateY(-100%)}100%{opacity:0.9;transform:translateY(0%)}}
.middle-texts .m-auto figure:hover img, .navbar-brand:hover img {-webkit-transform: scale(1.05, 1.05);transform: scale(1.05, 1.05);}
.middle-texts .m-auto figure img, .navbar-brand img {-webkit-transition: all .5s;transition: all .5s;}
.dropdown-toggle::after {vertical-align: 0.155em;}
.dropdown-menu{transition: all  1.5s ease;border-width:0;padding: 0;margin: 0;-webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.15);-moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.15);box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.15);}
.dropdown-menu.show {border: 1px solid #dedede;}

/********** about us ********/
.about-us h5{font-size: 18px;color: #333333;text-transform: uppercase;font-weight: 600;letter-spacing: 2px;margin: 2rem 0;}
.about-us h1.title{font-size: 42px;color: #333333;line-height: 50px;font-weight: 600;margin-bottom: 2rem;}
.about-us .m-auto p{font-size: 1rem;color: #727272;font-weight: 300;line-height: 25px;margin-bottom: 1.5rem;}
.about-bg{background: url("../img/about-us-top-bg.png")top right no-repeat;background-size: contain;}
h2.title{position: relative;font-weight: 600;display: inline-block;padding-bottom: 1.5rem;margin-bottom: 1rem;font-size: 40px;color: #333333;}
h2.title:after{left: 0;margin-left: 0;}
.card{-webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.15);-moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.15);box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.15);border:none;margin-bottom: 3rem;padding: 3rem;}
.card .card-header{background: transparent;border: none;margin-bottom: 1.5rem;}
.card p.main{margin-bottom: 2rem;padding: 0 4rem;}
.card h1.title{color: #333333;font-size: 40px;}
.card h1.title:after{left: 50%;margin-left: -33px;}
.card.text-center .card-body h4{font-size: 22px;font-weight: 600;color: #333333;}
.cardSection{background: url("../img/about-us-card-bg.png")bottom right no-repeat;background-size: auto;}
