@media (min-width: 990px) {
    .pn-Advancer{display: none;}
}
@media (min-width: 769px){
    .navbar-collapse.collapse {
        display: block;
        height: auto!important;
        padding-bottom: 0;
        overflow: visible!important;
        visibility: visible!important;
    }
    .navbar-toggle{display: none;}
    .navbar-nav .dropdown-menu{position: absolute;}
    .navbar-toggler{display: none;}

}
@media (max-width: 1100px) {
    .hover-box{padding: 0.5rem;min-width: 100px;}
    .pn-ProductNav_Wrapper{padding: 0 15px;}
}
@media (min-width: 768px) and (max-width: 1420px) {
    .hover-box{min-width: 90px;}
    .pn-ProductNav_Link{padding: 0.5rem;}
}
@media(max-width: 768px) {
    .home-sec h5{margin-bottom: 0.6rem;}
    .middle-texts.home-sec{padding: 1rem 0;min-height: 450px;}
    .order-md-1 .sm-response {margin-top: 4rem;}
    .card.text-center{padding: 0;}
    .card-body{padding: 0.5rem;}
    .card p.main{padding: 0 0.5rem;}
    .tab-pane .container .row .col-md-8{max-height: 400px;min-height: 400px;}
    .dropdown-menu .dropdown-item { padding: 0.2rem 0.5rem; }
    .dropdown-menu{position: static;float: none;}
    section{padding: 22px 0;}
    .navbar-header{width: 100%;}
    .navbar.navbar-default{padding: 0.5rem 0!important;}
    header{background: transparent;padding-bottom: 0!important;}
    .navbar-lists .nav-item{float: none;margin: 0.2rem 1.2rem 0 0;text-align: left;padding: 0;}
    .navbar-lists{ margin-top:0.7rem;}
    .navbar-lists{width: 100%;}
    .navbar-lists .nav-item .nav-link{display: block;}
    .z-1111{z-index: 1!important;}
    .app-view{margin: 0;}
    .navbar-lists .nav-item .nav-link{color: #333333;}
    .attendance div.item p{max-width: inherit;margin: auto 0;}
    .attendance .row div:nth-last-child(1) div.item{margin-bottom: 2rem;}
    section.time-location{margin: 0;}
    .tabs_main ul li a.active{background: transparent!important;}
    .tabs_main ul li{float: left;}
    #pnProductNavContents.nav, .tabs_main ul{display: flex;flex-wrap: nowrap;overflow-x: auto;-webkit-overflow-scrolling: touch;-ms-overflow-style: -ms-autohiding-scrollbar;}
    .dropdown-menu{box-shadow:none;background: transparent;}
    .dropdown-menu.show {border:none;}
}

@media (min-width: 1400px) {
    .container{
        max-width: 1300px;
    }
}